@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  /* Gradiente de fondo */
  --bg-gradient: linear-gradient(
    131deg,
    #d9597b -3.63%,
    #82d9d9 55.5%,
    #f2c53d 107.94%
  );

  /* Color de fondo */
  --bg-content: #f252aa;

  /* Fondo del Contenedor */
  --bg-container: #038c5a;

  /* fondo del contador  */
  --bg-contador: #f2c53d;

  /* Colores de texto */
  --text-primary: #ffffff;
  --text-secondary: #ffffff;
  --text-tertiary: #038c5a;

  /* fondo de cards */
  --bg-card-1: #d91438;
  --bg-card-2: #038c5a;

  /* fondo de botones */
  --bg-botones: #f2c53d;

  --bg-footer: #242424;
}
